.place__paragraph {
  font-weight: 400;
  max-width: 485px;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-of-type{
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
     font-size: 18px;
     max-width: 446px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
     font-size: 16px;
     margin: 0 0 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    min-width: 286px;
    font-size: 16px;
    margin-bottom: 24px;
  }
    .place__paragraph:last-of-type{
      margin-bottom: 40px;
    }
  
}