.cover__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 0 32px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
     width: 560px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
     width: 254px;
     font-size: 32px;
     line-height: 35px;
     padding: 0 0 15px;
  }
}